<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107692442-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107692442-1');
    </script>

    <title>How much of my Net Worth is in Crypto?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <meta name="description" content="Find out just how much of your net worth is currently in cryto currencies. Works with Bitcoin, Ether, Ripple, Bitcoin Cash, Litecoin, Dash, NEM, NEO, IOTA, and Monero." />
    <!-- Open Graph data -->
    <meta property="og:title" content="How much of my Net Worth is in Crypto?" />
    <meta property="og:description" content="Find out just how much of your net worth is currently in cryto currencies. Works with Bitcoin, Ether, Ripple, Bitcoin Cash, Litecoin, Dash, NEM, NEO, IOTA, and Monero." />
    <meta property="og:image" content="http://networthincrypto.com/assets/social_preview.png" />
    <meta property="og:url" content="http://networthincrypto.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@itsoscarjes">
    <meta name="twitter:title" content="How much of my Net Worth is in Crypto?">
    <meta name="twitter:description" content="Find out just how much of your net worth is currently in cryto currencies. Works with Bitcoin, Ether, Ripple, Bitcoin Cash, Litecoin, Dash, NEM, NEO, IOTA, and Monero.">
    <meta name="twitter:creator" content="@itsoscarjes">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="http://networthincrypto.com/assets/twitter.png">

  </head>

  <body class="Site">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"><p><strong>How much of my Net Worth is in Crypto?</strong></p>
            </a>
        </div>
      </nav>
    </header>
    <main class="Site-content">
      <%= yield %>
    </main>
    <footer>
        <div class="container">
          <div class="content has-text-centered" style="padding:30px;">
              <a href="http://www.twitter.com/itsoscarjes" class="button is-info is-outlined is-small" style="border-radius:5px;">By @itsoscarjes</a>
          </div>
        </div>
      </footer>
  </body>
</html>
